<ion-header>
    <ion-toolbar>
        <ion-title>Регистрация</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label> Логин</ion-label>
            <ion-input type="text" placeholder="" [(ngModel)]="login"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label> Пароль</ion-label>
            <ion-input type="password" placeholder="" [(ngModel)]="password"></ion-input>
        </ion-item>
    </ion-list>
    <div class="spacer" style="height:40px;" id="login-spacer1"></div>
    <ion-button shape="round" expand="block" (click)="registration()"> Создать</ion-button>
</ion-content>
